In [1]:
#Importing packages I will use
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
#Getting the URL I will be using to scrape the data, I am using BeautifulSoup to get the information in html format
url = 'https://en.wikipedia.org/wiki/List_of_highest-grossing_concert_tours_by_women'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [3]:
#As I am creating a new variable that contains all the information I need for this table
# This is the second table on the webpage I need to specify which table I am getting
table = soup.find_all('table')[1]

In [4]:
#All the column headers are in the html as 'th' so I am creating a new variable for the headers
headers = table.find_all('th')

In [5]:
#Striping the headers to remove excess space on each side and repacing the headers variable with the striped titles
headers = [title.text.strip() for title in headers]
print(headers)

['Rank', 'Peak', 'All-timepeak', 'Actual\xa0gross', 'Adjusted\xa0gross (in 2024 dollars)', 'Artist', 'Tour title', 'Year(s)', 'Shows', 'Averagegross', 'Ref.', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']

In [6]:
#I am removing the columns that do not have data (wikipedia has the left column as the same html code as the headers)
headers = headers[1:11]
print(headers)

['Peak', 'All-timepeak', 'Actual\xa0gross', 'Adjusted\xa0gross (in 2024 dollars)', 'Artist', 'Tour title', 'Year(s)', 'Shows', 'Averagegross', 'Ref.']

In [7]:
#Putting the new headers into a data frame
df = pd.DataFrame(columns = headers)
df

Empty DataFrame
Columns: [Peak, All-timepeak, Actual gross, Adjusted gross (in 2024 dollars), Artist, Tour title, Year(s), Shows, Averagegross, Ref.]
Index: []

In [8]:
#Finding all of the data that will go into the table
column_data = table.find_all('tr')

In [9]:
#Start of this function is to get the data, the way this works is by selecting the first row and then adding the row data, it is stripping the data
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
#This makes it append each row after the previous one, if this wasn't here it would only print first row
    length = len(df)
    df.loc[length] = individual_row_data

In [10]:
#To start cleaning the data I am going to remove the numbers in square brackets as they are links to different peices on information on wikipeida 
df[['Peak','Drop 1']] = df["Peak"].str.split("[",n = 2,expand = True)
df

,Peak,All-timepeak,Actual gross,Adjusted gross (in 2024 dollars),Artist,Tour title,Year(s),Shows,Averagegross,Ref.,Drop 1
0,1,1[2],"$2,077,618,725","$2,077,618,725",Taylor Swift,The Eras Tour[2][a],2023–2024,149,"$13,943,750",[1],2]
1,2,8[3],"$584,700,000","$584,700,000",Pink,Summer Carnival,2023–2024,97,"$6,027,835",[3],3]
2,1,7[5],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour ‡[6][a],2023,56,"$10,353,571",[5],4]
3,1,2[8],"$411,000,000","$602,379,246",Madonna,Sticky & Sweet Tour ‡[7][a],2008–2009,85,"$4,835,294",[9],7]
4,2,10[10],"$397,300,000","$488,622,634",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[10],10]
5,2,,"$345,675,146","$432,849,782",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[11],7]
6,,,"$341,096,360","$341,096,360",G.E.M.,I Am Gloria World Tour †,2023–2025,80,"$4,263,705",[12],None
7,,,"$313,300,000","$313,300,000",Karol G,Mañana Será Bonito Tour,2023–2024,62,"$5,053,226",[13],None
8,2,10[14],"$305,158,363","$417,950,626",Madonna,The MDNA Tour,2012,88,"$3,467,709",[14],7]
9,2,,"$280,000,000","$410,380,022",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[16],15]
10,,,"$256,084,556","$335,516,219",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[17],None
11,,,"$250,400,000","$332,167,570",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[18],None
12,,,"$229,100,000[b]","$304,296,584",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[19][20],None
13,,15[21],"$227,400,000","$317,296,302",Lady Gaga,The Monster Ball Tour,2009–2011,203,"$1,118,227",[22],None
14,,,"$227,247,141","$234,519,248",Madonna,The Celebration Tour,2023–2024,80,"$2,840,589",[23],None
15,,,"$204,000,000","$270,615,752",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[24],None
16,,,"$202,200,000","$259,379,283",A-Mei,Utopia World Tour,2015–2017,104,"$1,944,230",[25],None
17,1,,"$200,000,000","$321,996,933",Cher,Living Proof: The Farewell Tour ‡[27][a],2002–2005,325,"$615,385",[26],26]
18,2,,"$194,000,000","$302,592,605",Madonna,Confessions Tour,2006,60,"$3,233,333",[8],c]
19,,,"$186,600,000","$186,600,000",Olivia Rodrigo,Guts World Tour †,2024–2025,95,"$1,943,158",[28],None

In [11]:
#Repeating above step for All time peak, and tour title 
# I have to do this three times for tour title as some sections have several brackets and these symbols † & ‡
df[['All-timepeak','Drop 2']] =df["All-timepeak"].str.split("[",n = 2,expand = True)
df[["Tour title", "Drop 3", "Drop 4"]] = df["Tour title"].str.split("[",n = 2,expand = True)
df[["Tour title", "Drop 5"]] = df["Tour title"].str.split("‡",n = 1,expand = True)
df[["Tour title", "Drop 6"]] = df["Tour title"].str.split("†",n = 1,expand = True)
df

,Peak,All-timepeak,Actual gross,Adjusted gross (in 2024 dollars),Artist,Tour title,Year(s),Shows,Averagegross,Ref.,Drop 1,Drop 2,Drop 3,Drop 4,Drop 5,Drop 6
0,1,1,"$2,077,618,725","$2,077,618,725",Taylor Swift,The Eras Tour,2023–2024,149,"$13,943,750",[1],2],2],2],a],None,None
1,2,8,"$584,700,000","$584,700,000",Pink,Summer Carnival,2023–2024,97,"$6,027,835",[3],3],3],None,None,None,None
2,1,7,"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[5],4],5],6],a],,None
3,1,2,"$411,000,000","$602,379,246",Madonna,Sticky & Sweet Tour,2008–2009,85,"$4,835,294",[9],7],8],7],a],,None
4,2,10,"$397,300,000","$488,622,634",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[10],10],10],None,None,None,None
5,2,,"$345,675,146","$432,849,782",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[11],7],None,None,None,None,None
6,,,"$341,096,360","$341,096,360",G.E.M.,I Am Gloria World Tour,2023–2025,80,"$4,263,705",[12],None,None,None,None,None,
7,,,"$313,300,000","$313,300,000",Karol G,Mañana Será Bonito Tour,2023–2024,62,"$5,053,226",[13],None,None,None,None,None,None
8,2,10,"$305,158,363","$417,950,626",Madonna,The MDNA Tour,2012,88,"$3,467,709",[14],7],14],None,None,None,None
9,2,,"$280,000,000","$410,380,022",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[16],15],None,None,None,None,None
10,,,"$256,084,556","$335,516,219",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[17],None,None,None,None,None,None
11,,,"$250,400,000","$332,167,570",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[18],None,None,None,None,None,None
12,,,"$229,100,000[b]","$304,296,584",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[19][20],None,None,None,None,None,None
13,,15,"$227,400,000","$317,296,302",Lady Gaga,The Monster Ball Tour,2009–2011,203,"$1,118,227",[22],None,21],None,None,None,None
14,,,"$227,247,141","$234,519,248",Madonna,The Celebration Tour,2023–2024,80,"$2,840,589",[23],None,None,None,None,None,None
15,,,"$204,000,000","$270,615,752",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[24],None,None,None,None,None,None
16,,,"$202,200,000","$259,379,283",A-Mei,Utopia World Tour,2015–2017,104,"$1,944,230",[25],None,None,None,None,None,None
17,1,,"$200,000,000","$321,996,933",Cher,Living Proof: The Farewell Tour,2002–2005,325,"$615,385",[26],26],None,27],a],,None
18,2,,"$194,000,000","$302,592,605",Madonna,Confessions Tour,2006,60,"$3,233,333",[8],c],None,None,None,None,None
19,,,"$186,600,000","$186,600,000",Olivia Rodrigo,Guts World Tour,2024–2025,95,"$1,943,158",[28],None,None,None,None,None,

In [12]:
#Next I am splitting the Years the tours took place into Start year and end year
df[["Start Year", "End Year"]] = df["Year(s)"].str.split("–",n = 2,expand = True)
df

,Peak,All-timepeak,Actual gross,Adjusted gross (in 2024 dollars),Artist,Tour title,Year(s),Shows,Averagegross,Ref.,Drop 1,Drop 2,Drop 3,Drop 4,Drop 5,Drop 6,Start Year,End Year
0,1,1,"$2,077,618,725","$2,077,618,725",Taylor Swift,The Eras Tour,2023–2024,149,"$13,943,750",[1],2],2],2],a],None,None,2023,2024
1,2,8,"$584,700,000","$584,700,000",Pink,Summer Carnival,2023–2024,97,"$6,027,835",[3],3],3],None,None,None,None,2023,2024
2,1,7,"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[5],4],5],6],a],,None,2023,None
3,1,2,"$411,000,000","$602,379,246",Madonna,Sticky & Sweet Tour,2008–2009,85,"$4,835,294",[9],7],8],7],a],,None,2008,2009
4,2,10,"$397,300,000","$488,622,634",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[10],10],10],None,None,None,None,2018,2019
5,2,,"$345,675,146","$432,849,782",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[11],7],None,None,None,None,None,2018,None
6,,,"$341,096,360","$341,096,360",G.E.M.,I Am Gloria World Tour,2023–2025,80,"$4,263,705",[12],None,None,None,None,None,,2023,2025
7,,,"$313,300,000","$313,300,000",Karol G,Mañana Será Bonito Tour,2023–2024,62,"$5,053,226",[13],None,None,None,None,None,None,2023,2024
8,2,10,"$305,158,363","$417,950,626",Madonna,The MDNA Tour,2012,88,"$3,467,709",[14],7],14],None,None,None,None,2012,None
9,2,,"$280,000,000","$410,380,022",Celine Dion,Taking Chances World Tour,2008–2009,131,"$2,137,405",[16],15],None,None,None,None,None,2008,2009
10,,,"$256,084,556","$335,516,219",Beyoncé,The Formation World Tour,2016,49,"$5,226,215",[17],None,None,None,None,None,None,2016,None
11,,,"$250,400,000","$332,167,570",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[18],None,None,None,None,None,None,2015,None
12,,,"$229,100,000[b]","$304,296,584",Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,"$1,735,606",[19][20],None,None,None,None,None,None,2013,2014
13,,15,"$227,400,000","$317,296,302",Lady Gaga,The Monster Ball Tour,2009–2011,203,"$1,118,227",[22],None,21],None,None,None,None,2009,2011
14,,,"$227,247,141","$234,519,248",Madonna,The Celebration Tour,2023–2024,80,"$2,840,589",[23],None,None,None,None,None,None,2023,2024
15,,,"$204,000,000","$270,615,752",Katy Perry,Prismatic World Tour,2014–2015,151,"$1,350,993",[24],None,None,None,None,None,None,2014,2015
16,,,"$202,200,000","$259,379,283",A-Mei,Utopia World Tour,2015–2017,104,"$1,944,230",[25],None,None,None,None,None,None,2015,2017
17,1,,"$200,000,000","$321,996,933",Cher,Living Proof: The Farewell Tour,2002–2005,325,"$615,385",[26],26],None,27],a],,None,2002,2005
18,2,,"$194,000,000","$302,592,605",Madonna,Confessions Tour,2006,60,"$3,233,333",[8],c],None,None,None,None,None,2006,None
19,,,"$186,600,000","$186,600,000",Olivia Rodrigo,Guts World Tour,2024–2025,95,"$1,943,158",[28],None,None,None,None,None,,2024,2025

In [13]:
#Dropping unessesry columns
df = df.drop(columns =['Drop 1', 'Drop 2', 'Drop 3', 'Drop 4', 'Drop 5', 'Drop 6', 'Ref.','Year(s)'])
df

,Peak,All-timepeak,Actual gross,Adjusted gross (in 2024 dollars),Artist,Tour title,Shows,Averagegross,Start Year,End Year
0,1,1,"$2,077,618,725","$2,077,618,725",Taylor Swift,The Eras Tour,149,"$13,943,750",2023,2024
1,2,8,"$584,700,000","$584,700,000",Pink,Summer Carnival,97,"$6,027,835",2023,2024
2,1,7,"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,56,"$10,353,571",2023,None
3,1,2,"$411,000,000","$602,379,246",Madonna,Sticky & Sweet Tour,85,"$4,835,294",2008,2009
4,2,10,"$397,300,000","$488,622,634",Pink,Beautiful Trauma World Tour,156,"$2,546,795",2018,2019
5,2,,"$345,675,146","$432,849,782",Taylor Swift,Reputation Stadium Tour,53,"$6,522,173",2018,None
6,,,"$341,096,360","$341,096,360",G.E.M.,I Am Gloria World Tour,80,"$4,263,705",2023,2025
7,,,"$313,300,000","$313,300,000",Karol G,Mañana Será Bonito Tour,62,"$5,053,226",2023,2024
8,2,10,"$305,158,363","$417,950,626",Madonna,The MDNA Tour,88,"$3,467,709",2012,None
9,2,,"$280,000,000","$410,380,022",Celine Dion,Taking Chances World Tour,131,"$2,137,405",2008,2009
10,,,"$256,084,556","$335,516,219",Beyoncé,The Formation World Tour,49,"$5,226,215",2016,None
11,,,"$250,400,000","$332,167,570",Taylor Swift,The 1989 World Tour,85,"$2,945,882",2015,None
12,,,"$229,100,000[b]","$304,296,584",Beyoncé,The Mrs. Carter Show World Tour,132,"$1,735,606",2013,2014
13,,15,"$227,400,000","$317,296,302",Lady Gaga,The Monster Ball Tour,203,"$1,118,227",2009,2011
14,,,"$227,247,141","$234,519,248",Madonna,The Celebration Tour,80,"$2,840,589",2023,2024
15,,,"$204,000,000","$270,615,752",Katy Perry,Prismatic World Tour,151,"$1,350,993",2014,2015
16,,,"$202,200,000","$259,379,283",A-Mei,Utopia World Tour,104,"$1,944,230",2015,2017
17,1,,"$200,000,000","$321,996,933",Cher,Living Proof: The Farewell Tour,325,"$615,385",2002,2005
18,2,,"$194,000,000","$302,592,605",Madonna,Confessions Tour,60,"$3,233,333",2006,None
19,,,"$186,600,000","$186,600,000",Olivia Rodrigo,Guts World Tour,95,"$1,943,158",2024,2025

In [14]:
#Restting index naming it rank, I then +1 to index so it starts at 1 rather than 0
df = df.reset_index(drop = True)
df.index = df.index+1
df.index.rename('Rank',inplace = True)
df

,Peak,All-timepeak,Actual gross,Adjusted gross (in 2024 dollars),Artist,Tour title,Shows,Averagegross,Start Year,End Year
Rank,,,,,,,,,,
1,1,1,"$2,077,618,725","$2,077,618,725",Taylor Swift,The Eras Tour,149,"$13,943,750",2023,2024
2,2,8,"$584,700,000","$584,700,000",Pink,Summer Carnival,97,"$6,027,835",2023,2024
3,1,7,"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,56,"$10,353,571",2023,None
4,1,2,"$411,000,000","$602,379,246",Madonna,Sticky & Sweet Tour,85,"$4,835,294",2008,2009
5,2,10,"$397,300,000","$488,622,634",Pink,Beautiful Trauma World Tour,156,"$2,546,795",2018,2019
6,2,,"$345,675,146","$432,849,782",Taylor Swift,Reputation Stadium Tour,53,"$6,522,173",2018,None
7,,,"$341,096,360","$341,096,360",G.E.M.,I Am Gloria World Tour,80,"$4,263,705",2023,2025
8,,,"$313,300,000","$313,300,000",Karol G,Mañana Será Bonito Tour,62,"$5,053,226",2023,2024
9,2,10,"$305,158,363","$417,950,626",Madonna,The MDNA Tour,88,"$3,467,709",2012,None
10,2,,"$280,000,000","$410,380,022",Celine Dion,Taking Chances World Tour,131,"$2,137,405",2008,2009
11,,,"$256,084,556","$335,516,219",Beyoncé,The Formation World Tour,49,"$5,226,215",2016,None
12,,,"$250,400,000","$332,167,570",Taylor Swift,The 1989 World Tour,85,"$2,945,882",2015,None
13,,,"$229,100,000[b]","$304,296,584",Beyoncé,The Mrs. Carter Show World Tour,132,"$1,735,606",2013,2014
14,,15,"$227,400,000","$317,296,302",Lady Gaga,The Monster Ball Tour,203,"$1,118,227",2009,2011
15,,,"$227,247,141","$234,519,248",Madonna,The Celebration Tour,80,"$2,840,589",2023,2024
16,,,"$204,000,000","$270,615,752",Katy Perry,Prismatic World Tour,151,"$1,350,993",2014,2015
17,,,"$202,200,000","$259,379,283",A-Mei,Utopia World Tour,104,"$1,944,230",2015,2017
18,1,,"$200,000,000","$321,996,933",Cher,Living Proof: The Farewell Tour,325,"$615,385",2002,2005
19,2,,"$194,000,000","$302,592,605",Madonna,Confessions Tour,60,"$3,233,333",2006,None
20,,,"$186,600,000","$186,600,000",Olivia Rodrigo,Guts World Tour,95,"$1,943,158",2024,2025

In [15]:
#Saving the dataframe as a CSV
df.to_csv(r"C:\Cleaning Data\Highest Grossing Tours by Women.csv", index=True)